@use '../utils/variables' as v;


@mixin atribution{
    font-size: 11px; 
    text-align: center; 
}

@mixin attributiona{
    color: hsl(228, 45%, 44%);
}

@mixin flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin img-contain {
    object-fit: contain;
    object-position: center;
}

@mixin maxPhone {
    @media (max-width: v.$phone) {
        @content;
    }
}

@mixin maxTablet {
    @media (max-width: v.$tablet) {
        @content;
    }
}

@mixin maxDesktop {
    @media (max-width: v.$maxDesktop) {
        @content;
    }
}